<header class="text-black text-center py-4 w-100 d-flex align-items-center justify-content-between" style="padding: 20px;">
  <img src="assets/bookstore.png" alt="Logo" class="ml-3" style="height: 70px;">
  <h3 class="fw-bold" style="font-family: 'Arial Black', sans-serif; margin-left: 10px;">DIGITAL BOOKSTORE MANAGEMENT SYSTEM</h3>
  <div class="ml-auto">
    <button class="btn btn-success mr-50" [routerLink]="['/Profile-Page']">
      <i class="fas fa-user"></i> Profile
    </button>
    <span>&nbsp;&nbsp;</span>
    <button class="btn btn-danger" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </div>
</header>

