.footer {
    padding: 10px;
    background-color: #cc9766; /* Darker beige background */
    color: #ffffff; /* White text color */
    text-align: center; /* Center align text */
  }
  
  .btn-floating {
    border-radius: 0; /* Remove border radius */
    color: #000000; /* Black icon color */
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
  }
  
  .btn-floating .fab {
    font-size: 5.25em; /* Adjust icon size */
  }
  
  .btn-primary {
    display: inline-block;
    width: auto; /* Remove fixed width */
    height: auto; /* Remove fixed height */
    line-height: normal; /* Remove fixed line height */
    text-align: center;
    margin: 5px;
  }
  
  .container.p-4 {
    padding: 20px;
    text-align: center; /* Center align container content */
  }
  
  .text-center.p-3 {
    padding: 10px;
    text-align: center; /* Center align text */
  }
  
  .copyright a {
    color: #ffffff; /* White link color */
    text-decoration: none;
  }