<footer class="footer">
    <div class="container">
      <section class="social-icons">
        <a class="btn facebook" href="#!" role="button">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn twitter" href="#!" role="button">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn google" href="#!" role="button">
          <i class="fab fa-google"></i>
        </a>
        <a class="btn instagram" href="#!" role="button">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn whatsapp" href="#!" role="button">
          <i class="fab fa-whatsapp"></i>
        </a>
      </section>
      <div class="copyright">
        © 2025 Copyright : Cogni Digital Bookstore
        
      </div>
    </div>
  </footer>