<div class="container-fluid d-flex flex-column min-vh-80" style="background-color: white;">
    <header class="bg-light text-black text-center py-4 w-100 d-flex align-items-center justify-content-between">
      <img src="assets/bookstore.png" alt="Logo" class="ml-3" style="height: 80px;">
      <h3 class="fw-bold" style="font-family: 'Arial Black', sans-serif; margin-left: 10px;">DIGITAL BOOKSTORE MANAGEMENT SYSTEM</h3>
      <div class="ml-auto">
        <button class="btn btn-success mr-50"  [routerLink]="['/Register-Page']" >Register</button>
        <span>&nbsp;&nbsp;</span>
       
        <button class="btn btn-danger ml-3" [routerLink]="['/login-Page']">Login</button>
      </div>
    </header>
 
    <main class="container mt-5">
      <div class="jumbotron text-center bg-light shadow-sm rounded">
        <h1 class="display-4" style="font-family: 'Times New Roman', Times, serif; ">Welcome to the Bookstore!</h1>
        <p class="lead style" style ="font-family: 'Times New Roman', Times, serif;">Your one-stop solution for managing digital books and more.</p>
        <hr class="my-4" style="font-family: 'Arial', sans-serif;">
        <p  class = "fw-bold" style ="font-family: 'Times New Roman', Times, serif;">Explore our vast collection of digital books, manage your inventory, and stay updated with the latest trends in the digital book market.</p>
      </div>
 
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-4 mb-4 d-flex justify-content-center">
            <img src="https://tse2.mm.bing.net/th/id/OIP.AvfxAw2-rdmR9TOBVO4wWgAAAA?rs=1&pid=ImgDetMain" alt="Book Cover" class="img-fluid rounded shadow-sm" style="height: 230px; object-fit: cover;">
          </div>
          <div class="col-md-4 mb-4 d-flex justify-content-center">
            <img src="https://tse4.mm.bing.net/th/id/OIP.wM5GrSWWf4Gp5IFhnnfTrAHaHa?rs=1&pid=ImgDetMain" alt="Book Cover" class="img-fluid rounded shadow-sm" style="height: 230px; object-fit: cover;">
          </div>
          <div class="col-md-4 mb-4 d-flex justify-content-center">
            <img src="https://tse2.mm.bing.net/th/id/OIP.AvfxAw2-rdmR9TOBVO4wWgAAAA?rs=1&pid=ImgDetMain" alt="Book Cover" class="img-fluid rounded shadow-sm" style="height: 230px; object-fit: cover;">
          </div>
        </div>
      </div>
    </main>
 
    <footer class="footer bg-light py-3 mt-auto">
      <div class="container text-center">
        <p class="mb-0 fw-bold">DigitalBookstore Management System &copy; 2025. All rights reserved.</p>
      </div>
    </footer> 
  </div>
 
