<div class="container-fluid d-flex flex-column min-vh-80" style="background-color: white;">
  <header class=" text-black text-center py-4 w-100 d-flex align-items-center justify-content-between" style=" background-size: cover;">
    <img src="assets/bookstore.png" alt="Logo" class="ml-3" style="height: 80px;">
    <h3 class="fw-bold" style="font-family: 'Arial Black', sans-serif; margin-left: 10px;">DIGITAL BOOKSTORE MANAGEMENT SYSTEM</h3>
    <div class="ml-auto">
      <button class="btn btn-success mr-50" [routerLink]="['/Register-Page']">
        <i class="fas fa-user-plus"></i> Register
      </button>
      <span>&nbsp;&nbsp;</span>
      <button class="btn btn-danger ml-3" [routerLink]="['/User-Login-Page']">
        <i class="fas fa-sign-in-alt"></i> Login
      </button>
    </div>
  </header>

  <main class="container mt-5">
    <div class="jumbotron text-center bg-primary shadow-sm rounded fw-bold" style="background: linear-gradient(to right, #f8f9fa, #abc5df); font-weight: 400px;">
      <h1 class="display-4" style="font-family: 'Arial Black', sans-serif;">WELCOME TO THE BOOKSTORE!</h1>
      <p class="lead" style="font-family: 'Roboto', sans-serif; font-weight: bolder;">Your one-stop solution for managing digital books and more.</p>
      <hr class="my-4">
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-12 mb-4 d-flex justify-content-center">
          <img src="https://img.freepik.com/free-vector/abandoned-closed-bookstore-interior_107791-31220.jpg?t=st=1744696158~exp=1744699758~hmac=427ab7fdb628461ff81ab4f18fe6b5205298369ca2430934f855f6052089e318&w=1380" alt="Book Cover" class="img-fluid rounded shadow-lg" style="height: 230px; object-fit: cover;">
        </div>
      </div>
    </div>
  </main>

  <footer class="footer py-3 mt-auto">
    <div class="container text-center">
      <p class="mb-0 fw-bold" style="font-family: 'Roboto', sans-serif;">Digital Bookstore Management System &copy; 2025. All rights reserved.</p>
    </div>
  </footer>
</div>
