<!--<app-header></app-header>
<router-outlet></router-outlet>
<app-login></app-login>
<app-footer></app-footer> --> 


 <!-- <app-admin-books-manage></app-admin-books-manage>   -->
<!-- <app-admin-users-manage></app-admin-users-manage>  -->
<!--<app-admin-inventory-manage></app-admin-inventory-manage>-->



<!--<app-registration></app-registration>-->
<!-- <app-admin-review-manage></app-admin-review-manage> -->
<!-- <app-explore-books></app-explore-books>  -->
   <!-- <app-book-page></app-book-page>          -->


 <!-- <app-web-page></app-web-page>   -->

 <!-- <div> -->
   <router-outlet></router-outlet>  
 <!-- </div> -->
   <!-- <app-admin-books-manage></app-admin-books-manage>   -->
